<nav class="d-flex justify-content-between px-5">
    <div>
        <a href=""><span>logo</span></a>

    </div>
    <ul class="nav p-2">

    

        <li class="nav-item btn rounded-pill bg-primary mx-3"><a href="" class="nav-link text-light"
                data-bs-toggle="modal" data-bs-target="#exampleModal">Login</a></li>
        <li class="nav-item btn rounded-pill bg-success mx-3"><a href="" data-bs-toggle="modal" data-bs-target="#exampleModal1" class="nav-link text-light">Subscribe</a></li>
    </ul>
</nav>

<app-auth></app-auth>