<header class="sticky-top bg-white">
  <nav class="navbar border navbar-expand-lg d-xs-flex justify-content-between">
    <div class="">
      <span class=" d-flex ms-4" >
        <a class="w-25" routerLink="/">
          <img class="w-50 rounded-circle" src="../../assets/REN_Bank.png" alt="">
        </a>
        <h1 class="text-center fw-bolder">REN BANK</h1>
      </span>
      
    </div>

    <div *ngIf="checkAuth()">
      <li class="nav-item main-btn mx-3" (click)="closeSession()"><a href="" class="nav-link ">Logout</a></li>
    </div>

    <div class="d-flex" *ngIf="!checkAuth()">
      <li class="nav-item main-btn mx-3"><a href="" class="nav-link "
          data-bs-toggle="modal" data-bs-target="#exampleModal">Espace Client</a>
      </li>
      <li class="nav-item alt-btn mx-3"><a href="" data-bs-toggle="modal"
          data-bs-target="#exampleModal1" class="nav-link ">Ouvrir un compte</a>
      </li>
    </div>


    
    
  </nav>

</header>

<app-auth></app-auth>