<footer>
    <nav class="navbar border navbar-expand-lg d-flex justify-content-center" style="background-color: #f26ddc;height: 4rem">
        <ul class="navbar-nav col-8 d-flex justify-content-evenly">
            <li><img class="img-fluid" src="https://placehold.co/400" alt="" style="max-width: 4rem"></li>
            <li><img class="img-fluid" src="https://placehold.co/400" alt="" style="max-width: 4rem"></li>
            <li><img class="img-fluid" src="https://placehold.co/400" alt="" style="max-width: 4rem"></li>
        </ul>
    </nav>
</footer>