<footer>

    <nav class="navbar border navbar-expand-lg bg-main p-5 d-flex justify-content-between">
        <div class="d-flex justify-content-around col-3">
            
            <img src="../../assets/facebook.png"  width="50px" alt="">
            <img src="../../assets/instagram.png" width="50px" alt="">
            <img src="../../assets/linkedin.png" width="50px" alt="">
            <img src="../../assets/twitter.png" width="50px" alt="">
        </div>
        <div class="col-3 d-flex justify-content-center ">
            <span class=" d-flex ms-4" >
                <a class="w-25" routerLink="/">
                  <img class="w-50 rounded-circle" src="../../assets/REN_Bank.png" alt="">
                </a>
                <h1 class="text-center text-light fw-bolder">REN BANK</h1>
              </span>
            
        </div>
        <div class="d-flex justify-content-center col-3">
            <p class="text-light fs-4">ⒸREN Bank All rights reserved 2023</p>
        </div>
    </nav>
</footer>