<div class="col-8 offset-2 mt-3">
  <table class="table border p-2 ">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Libellé</th>
        <th scope="col">Solde</th>
        <th scope="col">Decouvert</th>
        <th scope="col">Taux</th>
        <th scope="col"></th>

      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let account of accounts">
        <td> {{ account.id }} </td>
        <td>{{ account.libelle }}</td>
        <td>{{ account.solde }}</td>
        <td>{{ account.decouvert }}</td>
        <td>{{ account.taux }}</td>
        <td> <a [routerLink]="['/accountTransaction',account.id]"  class=" btn rounded-pill bg-secondary">transactions</a></td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-around">
    <button routerLink="/">liste des comptes</button>
  </div>

</div>