<div class="bg-image col-12" style="background-image: url('../../assets/background.png'); height: 100vh">
    <div class="col">
        <div class="container-fluid pt-5">
            <div class="row-sm">
                <div class=" offset-1 col-4 pt-3">
                  <h1 class="r text-light fw-bolder pt-5">Comme vous, ils ont choisis REN Bank.</h1> 
                  <h1 class="r text-light fw-bolder">Aujourd'hui, ils en sont pleinement satisfaits.</h1>  
                  <button *ngIf="checkAuth()" routerLink="/menu"  class="main-btn"> Mon espace</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4"></div>
    <div class="col-4"></div>
</div>

